schema/GVQ/4.0/GeoViQua_PQM_UQM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 2012 Developer Edition 10.1.2.4113 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmd19157="http://www.geoviqua.org/gmd19157" xmlns:gvq="http://www.geoviqua.org/QualityInformationModel/4.0" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:updated19115="http://www.geoviqua.org/19115_updates" elementFormDefault="qualified" targetNamespace="http://www.geoviqua.org/QualityInformationModel/4.0" version="4.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- ================================== Imports ================================== -->
    <!--  Online schema location - 2007 ISO versions  -->
    <xs:import schemaLocation="../../ISO/19139/20070417/gmd/gmd.xsd" namespace="http://www.isotc211.org/2005/gmd" />
    <xs:import schemaLocation="../../ISO/19139/20070417/gco/gco.xsd" namespace="http://www.isotc211.org/2005/gco" />
    <xs:import schemaLocation="../../ISO/19139/20120707_GVQ/19115_updates.xsd" namespace="http://www.geoviqua.org/19115_updates" />
    <xs:import schemaLocation="../../ISO/19157/20120707_GVQ/19157_DataQuality.xsd" namespace="http://www.geoviqua.org/gmd19157" />
    <xs:include schemaLocation="GeoViQua_DataQuality.xsd" />
    <!-- ########################################################################### -->
    <!-- ########################################################################### -->
    <!-- ================================== Classes ================================= -->
    <xs:complexType name="GVQ_Metadata_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_Metadata_Type">
                <xs:sequence>
                    <xs:element name="dataQualityInfo" type="gmd19157:DQ_DataQuality_PropertyType" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="userFeedback" type="gvq:GVQ_FeedbackCollection_PropertyType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="GVQ_Metadata" type="gvq:GVQ_Metadata_Type" substitutionGroup="gmd:MD_Metadata" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_Metadata_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="gvq:GVQ_Metadata" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <!-- =================================================================== -->
    <xs:complexType name="GVQ_DataIdentification_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_DataIdentification_Type">
                <xs:sequence>
                    <xs:element name="referenceDoc" type="gvq:GVQ_Publication_PropertyType" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="GVQ_DataIdentification" type="gvq:GVQ_DataIdentification_Type" substitutionGroup="gmd:AbstractMD_Identification" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_DataIdentification_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="gvq:GVQ_DataIdentification" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <xs:complexType name="GVQ_Usage_Type">
        <xs:complexContent>
            <xs:extension base="gmd:MD_Usage_Type">
                <xs:sequence>
                    <xs:element name="referenceDoc" type="gvq:GVQ_Publication_PropertyType" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:element name="GVQ_Usage" type="gvq:GVQ_Usage_Type" substitutionGroup="gmd:MD_Usage" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_Usage_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="gvq:GVQ_Usage" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
    <xs:element name="ratingCount" type="gvq:GVQ_FeedbackSummaryRatingCount_Type" />
    <!-- =========================================================================== -->
    <!-- =========== Feedback model elements: user quality model ============== -->
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackItem" type="gvq:GVQ_FeedbackItem_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackItem_Type">
        <xs:annotation>
            <xs:documentation>The feedback item is the container of the actual feedback. Every item is set into context by a combination of foci, whose interpretation is subject to application guidelines. General intent is specified in the arc.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="identifier" type="updated19115:MD_Identifier_PropertyType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>This is an identifier for the feedback item. Main use case is a stable identifier for the feedback focus. Thus, it only needs to be locally unique.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="subject" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="primaryTarget" type="gvq:GVQ_FeedbackTarget_Type" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The targets of an item describe its context, guided by one of the three possible roles (primary, secondary and supplementary) which define how a target is relevant to an item. Targets are intended to be comparable to each other, resulting in a comparison results such as "identical", "overlapping" or "disjoint", helping to establish an order of how relevant feedback is to a circumscribed issue.
Primary targets specify the subject of the item, i.e. point to the data sets or resources the feedback is about.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="secondaryTarget" type="gvq:GVQ_FeedbackTarget_Type" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A secondary target refers to referenced resources, implying that the item might be relevant to the referenced resource.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="supplementaryTarget" type="gvq:GVQ_FeedbackTarget_Type" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A supplementary target adds additional references, for example, another region in another data set with similar problems. It is used to formally model references that somehow are related to the feedback item at hand, but does not imply that the feedback is relevant for the referenced subject. Giving an example should be modeled as a supplementary target.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userRole" type="gvq:GVQ_UserRoleCode_PropertyType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The role of the user with regard to this specific feedback item: this allows producers to add more information after release of the initial metadata. It supplements the role code mentioned above with information on, for example, whether the production was commercial or scientific</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="user" type="gvq:GVQ_UserInformation_Type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The user information will include information on their application domain and expertise, and (within the CI_ResponsibleParty) a Role code which tells you about their part in generating this data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dateStamp" type="gco:DateTime_PropertyType" minOccurs="1" maxOccurs="1" />
            <xs:element name="qualityOverride" type="gvq:GVQ_DataQuality_PropertyType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="externalFeedback" type="gmd:CI_OnlineResource_PropertyType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>External feedback is intended to associate information about the subject just to highlight its presence (without adding extra value?)

This could draw in facebook likes or google +1's, community sites, blog posts, ...

A point in question is the role of persistent URLs here, which should probably be preferred if not enforced.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userComment" type="gvq:GVQ_UserComment_Type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>For general comments which don't actually involve a rating.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rating" type="gvq:GVQ_Rating_Type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A rating is intended to cover star-like low information content ratings. Unlike e.g. a report, its numeric value is aggregable by nature.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="usage" type="gvq:GVQ_UsageReport_Type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="citation" type="gvq:GVQ_Publication_PropertyType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="reply-to" type="updated19115:MD_Identifier_PropertyType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="domainURN" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackTarget" type="gvq:GVQ_FeedbackTarget_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackTarget_Type">
        <xs:annotation>
            <xs:documentation>The Target unambiguously refers to pretext in the domain of discourse, such as a dataset or a sensor. This should match a datasetURI or MD_Identifier for that resource.
The parent is intended to model containment such as "this sensor is contained in this SOS". This is redundant, but avoids having to understand e.g. SensorML to uncover the relationship. Obviously, the parent should not have finer granularity than the child.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resourceRef" type="updated19115:MD_Identifier_PropertyType" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>This field points to a resource (could be the identifier of a dataset in a metadata catalog in GEOSS) which is typically not inside the same system. Any considerations what exactly should go into this field are to be set in application guidelines, or subclasses of this.

Actually, the feedback model does not depend on the target's type, it just postulates a canonicalized or otherwise "matchable" identifier in this field. This could take the form of an outside service to provide the necessary matching capability.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dataFocus" type="gvq:GVQ_DataFocus_Type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="natureOfTarget" type="gvq:MD_ScopeCode_PropertyType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The natureOfTarget field gives information mainly about the nature and granularity of the referenced entity, e.g. service, individual sensor, dataset series. Therefore it uses MD_ScopeCode. It is possible that GeoViQua-specific extensions to the list of scope codes may be required - this should be assessed in the prototypes. Currently, the MD_ScopeCode within the gvq namespace maps exactly to the gmd version except for three additional codes: document, metadataDocument and activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="parent" type="gvq:GVQ_FeedbackTarget_Type" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_Rating" type="gvq:GVQ_Rating_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_Rating_Type">
        <xs:annotation>
            <xs:documentation>A rating is intended to cover star-like low information content ratings. Unlike e.g. a report, it is aggregable by nature.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="score" type="gvq:GVQ_Rating_1to5_Type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>To be restricted between 1 and 5</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="justification" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_UsageReport" type="gvq:GVQ_UsageReport_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_UsageReport_Type">
        <xs:sequence>
            <xs:element name="reportAspect" type="gvq:GVQ_ReportAspectCode_PropertyType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="usageDescription" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>For supplementary information on the exact procedure carried out.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="discoveredIssue" type="gvq:GVQ_DiscoveredIssue_PropertyType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>This element can document any problems that were discovered in the use of the data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_UserComment" type="gvq:GVQ_UserComment_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_UserComment_Type">
        <xs:annotation>
            <xs:documentation>The comment is the most generic feedback type. Depending on the foci, it may serve as answer, rating justification, or general comment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="comment" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The user comment's body.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="mime-type" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>IETF RFC 2046 MIME Type

The mime is used to infer additional processing which may be required for proper display of the comment in  an environment. For example, text/x-web-markdown may need conversion, text/plain or text/html just need sanitizing in a web application.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:simpleType name="GVQ_Rating_1to5_Type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="5" />
        </xs:restriction>
    </xs:simpleType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_UserInformation" type="gvq:GVQ_UserInformation_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_UserInformation_Type">
        <xs:annotation>
            <xs:documentation>This class is intended to link to the actual "implemented" user.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="userDetails" type="gmd:CI_ResponsibleParty_Type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>In case the user is a CI_ResponsibleParty this may be used to include details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="applicationDomain" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The application domains a user considers him/herself to work in.This should map to a concept such as those in GEMET.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expertiseLevel" type="gvq:GVQ_Rating_1to5_Type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>This refers to this user's expertise level in this particular context, will be restricted between 1 and 5</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userRole" type="gvq:GVQ_UserRoleCode_PropertyType" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The role of the user with regard to this specific feedback item: this allows producers to add more information after release of the initial metadata. It supplements the role code mentioned above with information on, for example, whether the production was commercial or scientific</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="externalUserId" type="updated19115:MD_Identifier_PropertyType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>This can be used if a GEOSS user ID becomes available, or alternatively to model Facebook, Google or OpenID information</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_DataFocus" type="gvq:GVQ_DataFocus_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_DataFocus_Type">
        <xs:annotation>
            <xs:documentation>A data centric focus describes sub-sets of a data set or data provided by a service. It is to be interpreted as the intersection of the attributes which are specified, i.e. an unspecified attribute does not constrain the focus.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="extent" type="gmd:EX_SpatialTemporalExtent_PropertyType" minOccurs="0" maxOccurs="1" />
            <xs:element name="otherFocus" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The band is intended as a local identifier for a band, intended for human understanding.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackSummaryRatingCount" type="gvq:GVQ_FeedbackSummaryRatingCount_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackSummaryRatingCount_Type">
        <xs:sequence>
            <!-- TODO - should 'level' be an attribute? -->
            <xs:element name="level1" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="level2" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="level3" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="level4" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="level5" type="xs:integer" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackSummaryItemAggregation" type="gvq:GVQ_FeedbackSummaryItemAggregation_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackSummaryItemAggregation_Type">
        <xs:sequence>
            <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="average" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="count" type="xs:integer" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackSummaryAggregation" type="gvq:GVQ_FeedbackSummaryAggregation_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackSummaryAggregation_Type">
        <xs:sequence>
            <xs:element name="category" type="gvq:GVQ_FeedbackSummaryItemAggregation_Type" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackSummary" type="gvq:GVQ_FeedbackSummary_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackSummary_Type">
        <xs:annotation>
            <xs:documentation>An aggregation of all numerical fields of a feedback collection concerning a particular item that is reviewed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="itemUnderReview" type="updated19115:MD_Identifier_PropertyType" minOccurs="1" maxOccurs="1" />
            <xs:element name="averageRating" type="xs:decimal" />
            <xs:element name="numberOfRatings" type="xs:integer" />
            <xs:element name="numberOfFeedbackItems" type="xs:integer" />
            <!-- the above counts can be derived from the expertise-level breakdown, but are here for convenience -->
            <xs:element name="ratingsByLevel" type="gvq:GVQ_FeedbackSummaryRatingCount_Type" />
            <xs:element name="numberOfUserComments" type="xs:integer" />
            <xs:element name="averageUserExpertiseLevel" type="xs:decimal" minOccurs="0" />
            <xs:element name="latestReview" type="xs:date" minOccurs="0" />
            <xs:element name="numberOfPublications" type="xs:integer" minOccurs="0" />
            
            <xs:element name="numberOfSecondaryTargets" type="xs:integer" minOccurs="0" />
            <xs:element name="numberOfSupplementaryTargets" type="xs:integer" minOccurs="0" />
            <xs:element name="numberOfUsageReports" type="xs:integer" minOccurs="0" />
            <xs:element name="domainUsageCount" type="gvq:GVQ_FeedbackSummaryAggregation_Type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="tagCount" type="gvq:GVQ_FeedbackSummaryAggregation_Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="userRoleCount" type="gvq:GVQ_FeedbackSummaryAggregation_Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="userRatingsByExpertiseLevel" type="gvq:GVQ_FeedbackSummaryAggregation_Type" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="feedbackItemsByExpertiseLevel" type="gvq:GVQ_FeedbackSummaryAggregation_Type" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_ResponsePagination" type="gvq:GVQ_ResponsePagination_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_ResponsePagination_Type">
        <xs:annotation>
            <xs:documentation>Pagination for a feedback collection.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- TODO do we remove the element below? -->
            <xs:element name="count" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="limit" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="offset" type="xs:integer" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackCollection" type="gvq:GVQ_FeedbackCollection_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackCollection_Type">
        <xs:annotation>
            <xs:documentation>A collection of feedback from a query or submission. Each feedback collection should include information about a sibgle resource. If feedback for multiple datasets is retrieved from a query, then sevaral collections should be nested inside the GVQ_FeedbackResponse element.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="itemUnderReview" type="updated19115:MD_Identifier_PropertyType" minOccurs="1" maxOccurs="1" />
            <xs:element name="item" type="gvq:GVQ_FeedbackItem_Type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="pagination" type="gvq:GVQ_ResponsePagination_Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="summary" type="gvq:GVQ_FeedbackSummary_Type" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <!-- =========================================================================== -->
    <xs:element name="GVQ_FeedbackResponse" type="gvq:GVQ_FeedbackResponse_Type" />
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackResponse_Type">
        <xs:annotation>
            <xs:documentation>A container for collections of feedback from a separate queries. It acts as the root node of any feedback document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- TODO should the collections in this response actually just be the 'Type', not the 'PropertyType'? If they are going to 
            be put inside a GVQ_Metadata element, they need to be 'PT' so that is what I have made them...-->
            <xs:element name="collection" type="gvq:GVQ_FeedbackCollection_PropertyType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <!-- ........................................................................ -->
    <xs:complexType name="GVQ_FeedbackCollection_PropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="gvq:GVQ_FeedbackCollection" />
        </xs:sequence>
        <xs:attributeGroup ref="gco:ObjectReference" />
        <xs:attribute ref="gco:nilReason" />
    </xs:complexType>
</xs:schema>
